doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title elm is fun!
    link(rel='stylesheet', href='css/main.css', type='text/css')
body
    script(type='text/javascript', src='js/main.js')
    script(type='text/javascript').
        Elm.Main.fullscreen();
